   <nav class="nav navbar py-3 d-none d-md-flex bg-dark shadow fixed-top " >
    <div class=" d-none d-md-flex container justify-content-between align-items-baseline">
    <h2 style="font-weight: 100;" class="ms-2 mb-0 p-0 text-center"><a style="text-decoration: none;" class="text-white" href="/">Richard Schuhmann</a> </h2>
    <div>
      <a class="text-white ms-5 me-2"  style="text-decoration: none;" href="/index.html">Start</a>
      <a class="text-white mx-2" style="text-decoration: none;" href="/portfolio.html">Portfolio</a>
      <a class="text-white mx-2" style="text-decoration: none;"href="/blog">Blog</a>
      <span class="text-white mx-2" style="font-weight: 100; font-size: 1.3em">|</span>
      <a class="text-white mx-2" style="text-decoration: none; font-weight: 100;" href="./imprint">Imprint</a> 
      <a class="text-white mx-2" style="text-decoration: none; font-weight: 100;" href="./data_policy.html">Privacy Policy</a>
    </div>
  </div>
</div>
    <!-- <a class="btn btn-lg btn-outline-light m-2"  data-bs-toggle="offcanvas" href="#offcanvasdesk"><i class="bi bi-list"></i></a> -->
   </nav>
  
   <!-- <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasdesk" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-body text-dark">
        <h1 class="display-5 text-center">MENU</h1>
        <hr>
          <p><a class="mx-3" style="text-decoration: none;" href="/index.html">Start</a></p>
          <p><a class="mx-3" style="text-decoration: none;" href="/portfolio.html">Portfolio</a></p>
          <hr>
          <p><b>BLOG</b></p>
          <p><a class="text-dark" style="text-decoration: none;"href="/blog">All Posts</a></p>
      </div>
      <div style="position:absolute; bottom: 5px;left: 0;right:0;" class="d-flex justify-content-center">
        <p class="m-auto"><a class="text-dark" style="text-decoration: none;" href="./imprint">Imprint</a> | <a class="text-dark" style="text-decoration: none;" href="./data_policy.html">Privacy Policy</a></p>
      </div> -->
    </div>