   <nav class="nav navbar py-3 d-none d-md-flex bg-dark shadow fixed-top " >
    <div class=" d-none d-md-flex container justify-content-between align-items-baseline">
    <h2 style="font-weight: 100;" class="ms-2 mb-0 p-0 text-center"><a style="text-decoration: none;" class="text-white" href="/">Richard Schuhmann</a> </h2>
    <div>
      <a class="text-white ms-5 me-2"  style="text-decoration: none;" href="/index.html">Start</a>
      <a class="text-white mx-2" style="text-decoration: none;" href="/portfolio.html">Portfolio</a>
      <a class="text-white mx-2" style="text-decoration: none;"href="/blog">Blog</a>
      <span class="text-white mx-2" style="font-weight: 100; font-size: 1.3em">|</span>
      <a class="text-white mx-2" style="text-decoration: none; font-weight: 100;" href="/imprint">Imprint</a> 
      <a class="text-white mx-2" style="text-decoration: none; font-weight: 100;" href="/data_policy.html">Privacy Policy</a>
    </div>
  </div>
</div>
   </nav>
    </div>