<nav class="d-flex justify-content-between align-items-center border-top bg-dark text-white d-md-none" style="position: fixed; bottom:0; right:0; left:0">
    <h2 style="font-weight: 100;" class="ms-2 mb-0 p-0 text-center"><a style="text-decoration: none;" class="text-white" href="/">Richard Schuhmann</a> </h2>
    <a class="btn btn-lg btn-outline-light m-2"  data-bs-toggle="offcanvas" href="#offcanvasExample"><i class="bi bi-list"></i></a>
   </nav>
  
   <div style="height: auto;" class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-body text-dark">
        <h1 class="display-5 text-center">MENU</h1>
        <hr>
          <p><a class="text-dark" style="text-decoration: none;" href="/index.html">Start</a></p>
          <p><a class="text-dark" style="text-decoration: none;" href="/portfolio.html">Portfolio</a></p>
          <hr>
          <p><b>BLOG</b></p>
          <p><a class="text-dark" style="text-decoration: none;"href="/blog">All Posts</a></p>
      </div>
      <div style="position:absolute; bottom: 0;left: 0;right:0;" class="d-flex justify-content-between">
        <p class="m-auto"><a class="text-dark" style="text-decoration: none;" href="./imprint">Imprint</a> | <a class="text-dark" style="text-decoration: none;" href="./data_policy.html">Privacy Policy</a></p>
        <a class="btn btn-danger btn-lg m-2" data-bs-dismiss="offcanvas"><i class="bi bi-x"></i></a>
      </div>
    </div>