---
layout: page
---

<div id="posts" class="">
  <h1 class="display-5 text-center mb-3 pt-5">All Posts</h1>
  <div class="row row-cols-1 row-cols-md-3 g-3 justify-content-center">
    {% for post in paginator.posts %}

    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <div class="d-flex justify-content-between">
            <p><i class="bi bi-calendar3"></i> {{post.date | date: "%d-%m-%Y"}}</p>
            <p><i class="bi bi-hourglass-split"></i>~{{ post.content | number_of_words | divided_by: 240 }} mins.</p>
          </div>
          <hr>
          <p class="card-text">{{post.description |truncatewords: 60}}</p>
        </div>
        <div class="card-footer border-top-0 bg-white">
          <div class="d-flex justify-content-end">
            <a href="{{post.url}}" class="btn btn-dark">read more</a>
          </div>
        </div>
      </div>
    </div>

    {% endfor%}
  </div>

  {% if paginator.total_pages > 1 %}
  <div class="pagination d-flex mt-2 w-100 justify-content-center">
    {% if paginator.previous_page %}
    <a class="btn btn-outline-dark" href="{{ paginator.previous_page_path | relative_url }}">&laquo;</a>
    {% else %}
    <!-- <span class="btn btn-outline-dark">&laquo;</span> -->
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <em class="btn btn-dark">{{ page }}</em>
    {% elsif page == 1 %}
    <a class="btn btn-outline-dark" href="/blog">{{ page }}</a>
    {% else %}
    <a class="btn btn-outline-dark" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page
      }}</a>
    {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <a class="btn btn-outline-dark" href="{{ paginator.next_page_path | relative_url }}">&raquo;</a>
    {% else %}
    <!-- <span class="btn btn-outline-dark">&raquo;</span> -->
    {% endif %}
  </div>
  {% endif %}
</div>

<div class="d-md-none" style="height: 75px; width: 100%;">&nbsp;</div>